body{
  background-color: #0A64A4;
}

p {
  color: white;
  font-family: Arial;
  font-size: 16px;
  

}

h2 {
  text-align: left;
  background-color: #061F70;
  padding-top:10px;
  padding-bottom: 10px;
  color: white;
  font-family: Arial;

}

h3 {
  font-style: normal;
  margin-top: 0;
  color: white;
  font-family: Arial;
}

header {
  position:relative;
  background:#fff;
  z-index: 1;
}

/* NAV LIST STUFF */
ul#main_nav {
  width:100%;
  list-style: none;  
  margin-top:-7px;
  z-index: 2; 
}

ul#main_nav li {
  display:inline;
  
}

ul#main_nav li a {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  color: #fff;
}

ul#main_nav li a:hover {
  color: #FF7C00;
}

hr{

}

a {
  display: inline-block;
  text-decoration: none;
  color: yellow;
}

section{

}
article{
  background-color: #FF7C00;
  display:inline-block;
}
article#Scores h3, article#NextGames h3{
  text-align: center;
}
article#Scores a{

}
article#NextGames{
  margin-top: 10px;
}
/*article#NextGames h3{
  text-align: center;
}*/
article#Scores table, article#NextGames table{
  margin-left: auto;
  margin-right: auto;
}
#news_section {
  margin-top:50px;

}

#home_container{
  background-color: #0A64A4;
}
#Scores {
  float: left;
  position: relative;

  
}
#NextGames {
  float: left;
  position: relative;
  
}

footer p{
  font-family: Arial;
  font-size: 12px;
  text-align: center;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}