      body{
        background-color: #0A64A4;

      }
      p {
        color: white;
        font-family: Arial;
        font-size: 16px;

      }
      h2 {
        text-align: left;
        background-color: #061F70;
        padding-top:10px;
        padding-bottom: 10px;
        color: white;
        font-family: Arial;
        

      }
      h3 {
        font-style: italic;
        margin-top: 0;
        color: white;
        font-family: Arial;
        text-align: center;
        top:30px;
      }
      ul {

      }
      hr{
        margin-left: 15px;
        margin-right: 40px;
      }
      li{
        display: block;
        background-color: none;
        font-size: 20px;
        font-family: Arial;
        font-weight: bold;
        text-align: center;
   
      }
      #nh li{
        background-color: none;
      }
      a {
        display: inline-block;
        text-decoration: none;
        color: yellow;
      }
      nav{
        background-color: blue;
        padding-bottom: 15px;
      }
      section{
        
      }
      article{
        background-color: #FF7C00;
        
      }
      #home_container{
        background-color: #0A64A4;
      }
      #Scores {
        float: left;
        position: relative;

        
      }
      #NextGames {
        float: left;
        position: relative;
        
      }
      #FBdeck {
      }
      footer p{
        font-family: Arial;
        font-size: 12px;
        text-align: center;
      }

      img.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }